services:
  - type: web
    name: lucidpie
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PRODUCTION
        value: true
      - key: PORT
        value: 8000
    healthCheckPath: /api/health


